<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alfredmenu">

    <uses-permission android:name=" android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".global.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl">

        <activity
            android:name=".activity.Welcome"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/NullActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConnectPOS"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/NullActivityTheme" />
        <activity
            android:name=".activity.EmployeeID"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.SelectRevenue"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.Login"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.Setting"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/SubActivityTheme" />
        <activity
            android:name=".activity.MenuPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/PageIndicatorDefaults" />
        <activity
            android:name=".activity.TablesPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/PageIndicatorDefaults" />
        <activity
            android:name=".activity.MainPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.MenuCategoryPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/PageIndicatorDefaults" />
        <activity
            android:name=".activity.MenuMainCategoryPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/PageIndicatorDefaults" />
        <activity
            android:name=".activity.MenuListPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/PageIndicatorDefaults" />
        <activity
            android:name=".activity.MenuOrderPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/PageIndicatorDefaults" />
        <activity
            android:name=".activity.KOTNotification"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.OrderDetailPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.ModifierDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/PageIndicatorDefaults" />
        <activity
            android:name=".activity.InstructionDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/NullActivityTheme" />
        <activity
            android:name=".activity.OrderDetailsTotal"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/NullActivityTheme" />
        <activity
            android:name=".activity.OrderReceiptDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/NullActivityTheme" />
        <activity android:name=".activity.DevicesActivity" />

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5434b18cfd98c5364c02b94b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
    </application>

</manifest>