<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alfredposclient"
    android:versionCode="12"
    android:versionName="1.0.11" android:installLocation="auto">

    <uses-sdk android:targetSdkVersion="18" />
    <!-- 往sdcard中写入数据的权限 -->
    <!-- 在sdcard中创建/删除文件的权限 -->

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--<uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />-->

    <!--声明使用usb-->
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />



    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".global.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.alfredposclient.activity.Welcome"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/NullActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SyncData"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.Login"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.kioskactivity.subpos.SubPosLogin"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.OpenRestaruant"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.MainPage"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- android:windowSoftInputMode="stateHidden|adjustPan" /> -->
        <activity
            android:name=".activity.kioskactivity.MainPageKiosk"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- android:windowSoftInputMode="stateHidden|adjustPan" /> -->
        <activity
            android:name=".activity.DevicesHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.ReprintBillHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.EditOrderHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.EditSettlementPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.BOHSettlementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.DashboardHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.XZReportHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.MonthlySalesReportHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.MonthlyPLUReportHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.EntVoidReportHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.ClockInOROut"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.CashInOutHtml"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.SystemSetting"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.NetWorkOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.DevicesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.StoredCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/StoredCardTheme" />

        <receiver android:name=".service.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<service android:name=".service.RabbitMqPushService"></service>-->

        <receiver android:name="sunmi.ds.MsgReceiver">
            <intent-filter>
                <action android:name="com.sunmi.hcservice" />
                <action android:name="com.sunmi.hcservice.status" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5434079dfd98c5d8c0027d84" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.SunmiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.XZReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".activity.TableSummaryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".activity.kioskactivity.KioskHoldActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".activity.kioskactivity.subpos.SelectRevenue"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".activity.kioskactivity.subpos.ConnectMainPos"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".activity.kioskactivity.subpos.SubPosManagePage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme"/>

        <activity android:name=".activity.DeliveryDialogActivity"
            android:theme="@style/NullActivityTheme"
            />
        <service android:name="com.floatwindow.float_lib.service.FloatMonkService"/>

        <service
            android:name=".service.HomeService"
            android:process=":remote" >
        </service>
    </application>

</manifest>